:root{
  --text-color: hsl(180, 29%, 50%);
  --background-color: hsl(180, 52%, 96%);
  --filter-tablets: hsl(180, 31%, 95%);
  --dark-cyan: hsl(180, 8%, 52%);
  --very-dart-cyan: hsl(180, 14%, 20%);
  --job-container-width: 1300px;
  --featured-job-container-width: 1250px;
  --pixels50: 50px;
  --pixels16: 16px;
  --right-item-width: 850px;
  --font-size: 16 px;
}

.hide{
  color: aqua;
}

body{
  font-size: var(--font-size);
}

.delete-job{
  width: var(--pixels50);
  height: var(--pixels50);
  font-size: 32px;
}
.list-item-container {
  background: white;
  margin: var(--pixels16);
  padding: var(--pixels16);
  display: flex;
  flex-direction: row;
  box-shadow: hsl(180, 29%, 50%);
  border-radius: 4px;
  width: var(--job-container-width);
  height: 200px;
  border-radius: 16px;
  text-align: center;
  justify-content: space-between;
}

.list-item-container:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.top-left-tags, .bottom-tags, .rolls-tags {
  display: flex;
  flex-direction: row;
  padding: 3px;
  justify-content: space-between;
}

.top-left-tags{
  justify-content: flex-start;
}
.rolls-tags *{
  color: white;
  justify-content: space-around;

}

.bottom-tags {
  color: grey;
}


.right-item {
  width: var(--right-item-width);
}

.company-image{
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15%;
  height: 100%;
}

.bottom-tags *, h6, h5{
  width: 80px;
}

h5, h6{
  color:var(--vary-dark-cyan);
  padding: 5px;
  border-radius: 6px;
}

h5, h4{
color: var(--text-color);
}

h6{
  background-color: var(--text-color);
}

.featured{
  border-left: var(--pixels50) solid green;
  width: var(--featured-job-container-width);
}